# Add configuration values here, as shown below.

SECRET_KEY_BASE: ''

FACEBOOK_APP_ID: ''
FACEBOOK_APP_SECRET: ''

BING_APP_ID: ''
BING_APP_SECRET: ''
BING_ACCOUNT_KEY: ''

development:
  GITHUB_APP_ID: ''
  GITHUB_APP_SECRET: ''
  LINKEDIN_APP_ID: ''
  LINKEDIN_APP_SECRET: ''

production:
  GITHUB_APP_ID: ''
  GITHUB_APP_SECRET: ''
  LINKEDIN_APP_ID: ''
  LINKEDIN_APP_SECRET: ''
