%h4 Codes
%p= "= link_to image_tag('img_url'), 'img_url', class: 'fancybox'"
%h4 Preview
= link_to image_tag('http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_m.jpg'), 'http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_b.jpg', class: 'fancybox'
