h4 Method
| qrcode(data='', **options)
h4 Options
a href="https://google-developers.appspot.com/chart/infographics/docs/qr_codes#overview" target="_blank"
  | https://google-developers.appspot.com/chart/infographics/docs/qr_codes#overview
h4 Usage
| = qrcode 'http://chouandy.logdown.com/'
h4 Preview
= qrcode 'http://chouandy.logdown.com/'
