.posts-list {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: none;
  margin: 10px 0;
  .post {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:hover {
      background-color:rgba(51,204,191,0.05);
    }
    .post-timestamp {
      line-height: 24px;
      padding: 10px 20px;
      color: #666;
      font-size: 12px;
    }
    .post-title {
      line-height: 24px;
      padding: 10px 20px;
      color: #444;
      font-size: 16px;
    }
    .post-actions {
      line-height: 24px;
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
