.upvote {
  float: left;
  -webkit-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  background: #EDECEB;
  margin: 10px 0;
  box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  color: #534540;
  padding: 0 8px;
  font-size: 12px;
  line-height: 24px;
  .symbol {
    float: left;
    margin-right: 5px;
  }
  .count {
    float: left;
  }
  &:hover, &:focus, &.voted {
    text-decoration: none;
    color: #da552f;
  }
}